{
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false
}